@page "/perfil"
@inject IJSRuntime js
@inject Blazored.SessionStorage.ISessionStorageService session
@inject HttpClient http
@inject NavigationManager nav

@if (userInfo.Id != 0)
{
    <EditForm Model="user" OnValidSubmit="@PutUsuario">
        <DataAnnotationsValidator />
        <div class="container">
            <div class="row" style="text-align:center">
                <ul>
                    <li style="list-style:none;">

                        <BlazorInputFile.InputFile OnChange="HandleFileSelect" style="display:none;" id="imagemTituloSuaTeoria"></BlazorInputFile.InputFile>
                        <label for="imagemTituloSuaTeoria"
                           style="background-color:#ccc;width:75%;
            border-radius:5px;cursor:pointer;padding:10px;text-align:center">
                            Selecione um avatar &#187
                        </label>
                    </li>
                    @if (file != null && !string.IsNullOrEmpty(user.Foto) && user.Foto.Length > 500)
                    {
                        <input type="image" style="height:200px; width:200px;pointer-events: none;" src="data:image/jpeg;base64, @user.Foto" disabled="disabled" />
                    }
                    else if (!String.IsNullOrEmpty(user.Foto) && user.Foto.Length < 500)
                    {
                        <input type="image" style="height:200px; width:200px;pointer-events: none;" src="@user.Foto" disabled="disabled" />
                    }
                    else
                    {
                        <input type="image" style="height:200px; width:200px;pointer-events: none;" src=images/user.png disabled="disabled" />
                    }
                    <li style="list-style:none;color:white;">Nome:</li>
                    <li class="pb-4" style="list-style:none;">
                        <input class="campoPerfil" placeholder="Nome completo" type="text" @bind-value="user.Nome" />
                    </li>

                    <li style="list-style:none;color:white;">Usuario:</li>
                    <li class="pb-4" style="list-style:none;pointer-events: none;">
                        <input class="campoPerfil" placeholder="Usuário" type="text" @bind-value="user.User" disabled />
                    </li>

                    <li style="list-style:none;color:white;">Email:</li>
                    <li class="pb-4" style="list-style:none;">
                        <input class="campoPerfil" placeholder="seuemail@email.com" type="text" @bind-value="user.Email" />
                    </li>

                    <li style="list-style:none;color:white;">Senha:</li>
                    <li class="pb-4" style="list-style:none;">
                        <input class="campoPerfil" placeholder="Senha" type="@password" @bind-value="user.Senha" disabled="@DisabledField" />
                    </li>

                    @if (trocarSenha)
                    {
                        <li class="py-4" style="list-style:none;"><input class="campoPerfil " placeholder="Repetir Senha" type="@password" @bind-value="repetirSenha" disabled="@DisabledField" /></li>
                    }
                    <li class="py-4" style="list-style:none;">
                        <label style="color:white"> Mostrar Senha</label> <input type="checkbox" @bind-value="@mostrarSenha" @onclick="MostrarSenha" />
                        <label style="color:white">&nbsp; Trocar Senha</label> <input type="checkbox" @bind-value="@trocarSenha" @onclick="TrocarSenha" />
                    </li>
                    @if (!validaSenha)
                    {
                        <li class="py-4" style="list-style:none;"> <label style="color:red">As senhas devem ser iguais.</label></li>
                    }
                    <li class="py-4" style="list-style:none;"><input type="submit" value="Atualizar Cadastro" class="btn-lg btn-success @Disabled" /></li>
                </ul>
            </div>
            <ValidationSummary></ValidationSummary>
        </div>
    </EditForm>
}
else
{
    <label style="color:white">Cadastre-se ou faça Login, é rapidão :)</label>
}

@code {
    bool isAnonimo = false;
    string password = "password";
    bool mostrarSenha = false;
    bool trocarSenha = false;
    bool validaSenha = true;
    string repetirSenha;
    bool DisabledField = true;

    Usuario userInfo = new();
    Usuario userAnonimo = new() { Id = 0, Nome = "Anonimous" };
    Usuario user = new();
    Usuario usuarioAntigo = new();
    string baseUrl = Configuration.BaseUrl;
    public string Disabled = "";


    protected override async Task OnInitializedAsync()
    {
        await GetSessionUser();
        if (userInfo.Id != 0)
        {
            await GetUser();
        }

    }


    public async Task GetSessionUser()
    {
        string? intUser = await js.InvokeAsync<string>("localStorage.getItem", "Usuario");
        if (intUser == null || intUser == "0")
        {
            isAnonimo = true;
        }
        else
        {
            userInfo.Id = Convert.ToInt32(intUser);
            isAnonimo = false;
        }
    }

    public async Task GetUser()
    {
        user = await http.GetFromJsonAsync<Usuario>($"{baseUrl}/usuarios/{userInfo.Id}");
        usuarioAntigo = await http.GetFromJsonAsync<Usuario>($"{baseUrl}/usuarios/{userInfo.Id}");
    }

    public async Task PutUsuario()
    {
        Disabled = "disabled";
        if (trocarSenha && user.Senha != repetirSenha)
        {
            validaSenha = false;
        }
        else
        {
            validaSenha = true;
        }
        if (usuarioAntigo.User != user.User)
        {
            return;
            nav.NavigateTo("perfil", true);
        }

        if (usuarioAntigo.Nome != user.Nome || usuarioAntigo.Foto != user.Foto || usuarioAntigo.Email != user.Email || usuarioAntigo.Senha != user.Senha)
        {
            if (validaSenha)
            {
                string senha = trocarSenha ? user.Senha : usuarioAntigo.Senha;
                user.Senha = senha;

                await http.PutAsJsonAsync<Usuario>($"{baseUrl}/usuarios/{user.Id}", user);
                nav.NavigateTo("perfil", true);
                Disabled = "";

            }
        }
        Disabled = "";
    }

    #region File


    IFileListEntry? file;
    string errMessage = "";
    string mensagem = "Escolha uma imagem para ser capa da sua teoria";
    async Task HandleFileSelect(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {
            if (file.Size > 2000000)
            {
                errMessage = "Tamanho limite máximo da imagem: 2MB";
                await js.InvokeVoidAsync("alert", errMessage);
                return;
            }

        }
        await GetBase64File();
        StateHasChanged();
    }

    async Task GetBase64File()
    {
        byte[] bytes;
        var memoryStream = await file.ReadAllAsync();
        bytes = memoryStream.ToArray();
        user.Foto = Convert.ToBase64String(bytes);
        mensagem = "";
    }
    #endregion

    public async Task MostrarSenha()
    {
        mostrarSenha = !mostrarSenha;
        if (mostrarSenha)
        {
            password = "text";
        }
        else
            password = "password";
    }

    public async Task TrocarSenha()
    {
        trocarSenha = !trocarSenha;
        DisabledField = !DisabledField;
    }
}
